* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  overflow-x: hidden;
}
nav {
  width: 100%;
  height: 45px;
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 5;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
	font-family: "GOTHICB";
  font-weight: bold;
}
.more-nav {
	display: none;
}
h1, h2, h3, h5 {
  font-family: "GOTHICB";
  font-weight: bold;
}
h5 {
  color: #333333;
  font-size: 12px;
  padding-bottom: 10px;
}

h1 {
  font-size: 24px;
  padding-bottom: 4px;
}
main {
  background-color: #F0F0F0;
}
/* высота первого блока */
.pict {
  position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 98vw;
    width: 101vw;
    height: 91vw;
    top: 36px;
}

.left {
  height: 612px;
}
.left-info {
  padding-left: 5%;
}

.more-info {
  font-family: "GOTHICB";
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
  font-size: 18px;
  padding-top: 28px;
  padding-bottom: 26px;
  width: 287px;

}
/* ширина блока текста */

footer {
  background-color: #101010;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.facebook {
  position: relative;
  top: -8px;
}

@media screen and (max-width: 425px;) {
  .small {
    display: unset;
    position: absolute;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 100%;
    width: 50vw;
    height: 50vw;
    margin-top: -80px;
  }
  .left-info {
    height: 616px;
  }
  .main-img {
    position: relative;
      right: calc((100vw - var(--container-width)) / 2);
      --container-width: 147%;
      width: 77vw;
      height: 88vw;
      bottom: 101px;
  }

}


@media screen and (min-width: 768px) {
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 24px;
    width: 395px;
  }
  .left {
    height: 727px;
    display: flex;
    flex-direction: row-reverse;
  }
  .left-info {
    width: 100vw;
    padding-top: 100px;
  }
  .main-img {
    position: relative;
      right: calc((100vw - var(--container-width)) / 2);
      --container-width: 147%;
      width: 77vw;
      height: 88vw;
      bottom: 101px;
  }
  .pict {
    position: absolute;
    right: calc((79vw - var(--container-width)) / 2);
    --container-width: 79vw;
    width: 60vw;
    height: 58vw;
    top: 29px;
    z-index: 2;
  }
}



@media screen and (min-width: 1024px) {
  /* navigation */
  nav {
		height: 68px;
		justify-content: flex-start;
	}
  nav {
  		height: 68px;
  		justify-content: flex-start;
  	}
  	.more-nav {
  		display: unset;
  		padding-left: 102px;
  	}
  	.more-nav a {
      display: inline-block;
      line-height: 0.2;
      text-decoration: none;
      cursor: pointer;
  }
  	.more-nav a:after {
      background-color: #FDE40E;
      display: block;
      content: "";
      width: 0%;
      height: 3px;
      margin-left: -10px;

      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
  }
  .more-nav a:hover:after,
  .more-nav a:focus:after {
      width: 100%;
      padding-left: 20px;
  }
  	.more-nav a {
  		padding-right: 30px;
  	}
    .more {
      cursor: pointer;
    }
  	.first {
  		height: 50px;
  	}
  	.last {
  		display: none;
  	}
  h1 {
    font-size: 54px;
    padding-bottom: 10px;
  }
  h5 {
    font-size: 18px;
  }
  /* first-section */
  .left {
    display: flex;
    flex-direction: row-reverse;
    height: 1150px;
  }
  .left-info {
    padding-top: 142px;
  }
  p {
    font-size: 32px;
    width: 579px;
  }
  .pict {
    position: absolute;
      right: calc((100vw - var(--container-width)) / 2);
      --container-width: 100%;
      width: 53vw;
      height: 48vw;
      bottom: 101px;
      top: 42px;
  }
}
